package main

import "fmt"

var Pizza int

func function(calzone int) int {
	calzone = Pizza + 5
	return calzone
}


func main() {
	// fmt.Print("\033[2J") //clear the screen befor printing the output in the terminal
	Pizza =  10
	result := function(Pizza)
	fmt.Println("\nYour function result is:\n", result)
}
